# Visual Studio code
.ionide/

# Visual Studio
*.suo
*.user
*.sln.docstates
.vs/

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Jetbrains IDE
.idea/

# FAKE
.fake/

# build output
bin/
obj/
test/
dist/
dist-staging/
packages/
