source https://api.nuget.org/v3/index.json
framework = net451
redirects: on

nuget FSharp.Core ~> 4.5
nuget FSharp.Control.AsyncSeq ~> 2.0.20
nuget Castle.Core
nuget CompareNETObjects content:none
nuget FSharp.Desktop.UI
nuget FSharp.Quotations.Evaluator
nuget FSharp.Configuration
nuget FsUnit ~> 2.3.2
nuget FsXaml.Wpf
nuget NUnit
nuget Rx-Core
nuget Rx-Interfaces
nuget Rx-Linq
nuget Rx-Main
nuget Rx-PlatformServices ~> 2.2.5
nuget Acadian.FSharp ~> 1.1
