source https://api.nuget.org/v3/index.json
framework auto-detect
storage: none

nuget FSharp.Core ~> 4.5
nuget VinylUI ~> 3.0
nuget System.Reactive ~> 4.4
nuget System.Reactive.PlatformServices ~> 4.4
nuget System.Reactive.Windows.Threading ~> 4.4
nuget System.Reactive.Linq ~> 4.4
nuget System.Reactive.Core ~> 4.4
nuget System.Reactive.Interfaces ~> 4.4
nuget System.Management
nuget Microsoft.VisualBasic
nuget Acadian.FSharp ~> 1.2.6
nuget Newtonsoft.Json

nuget FsUnit ~> 4.0
nuget CompareNETObjects content:none
nuget NUnit3TestAdapter
nuget Microsoft.NET.Test.Sdk

group Tools
    source https://api.nuget.org/v3/index.json
    storage: on

    nuget Tools.InnoSetup
